extends layout
title = 'Soundcloud Logo Finder in Pi'

block content
  h1 Soundcloud Logo Finder in Pi
  
  form(method='post')
    input(type='submit', value='Calculate closest sequences in pi to the Soudncloud Logo')