extends layout

block content
  h2 Results

  h3 Time elapsed: 
    = timeElapsed
    = 'ms'

  h3 Number of cores used: 
    = numberOfCores

  h3 Number of digits of pi checked: 
    = numberOfDigits

  h3 Soundcloud logo
    table.image
      each row in soundcloudLogo
        tr
          each digit in row
            td(class=('a'+digit))

  h3 Closest sequences to Soundcloud logo found in Pi:
  table.results
    tr
      th Rank
      th Image
      th Sequence
      th Offset
      th Difference from original logo
    each result, index in results
      tr
        td
          = index + 1
        td
          table.image
            each row in result.rows
              tr
                each digit in row
                  td(class=('a'+digit))
        td
          each row in result.rows
            each digit in row
              = digit + ' '
            br
        td
          = result.offset
        td
          = result.differenceScore
